<p id="notice"><%= notice %></p>

<% @entries.each do |entry| %>
  <div class="col-md-10 entry">
    <h2><%= entry.title %></h2>
    <h3><%= entry.date %></h3>
    <p><%= entry.content %></p>
    <%= link_to 'Show', entry %> | <%= link_to 'Edit', edit_entry_path(entry) %> | <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<br>

<%= link_to 'New Entry', new_entry_path %>
